# Podstawy języka Python

In [1]:
'a'+'b'

'ab'

In [2]:
# dzielenie z użyciem floor
4//4

1

In [3]:
def odd (number):
    return number % 2 != 0

In [4]:
odd(4)

False

In [5]:
def odd (number):
    return True if number % 2 else False

In [6]:
def odd (number):
    return True if number % 2 else False

In [7]:
odd(1)

True

In [8]:
def factorial (n):
    if  n >1:
        return n * factorial (n-1)
    else: 
        return 1

In [9]:
def factorial (n):
    if  n >1:
        return n * factorial (n-1)
    return 1

In [10]:
def factorial (n):
    return n * factorial(n-1) if n > 1 else 1

In [11]:
def factorial (n):
    if not isinstance(n, int):
        raise TypeError
    if n < 0:
        raise ValueError
    return n * factorial(n-1) if n else 1

In [12]:
factorial (10)

3628800

In [13]:
def factorial (n):
    product = 1
    while n > 1:
        product = product * n
        n = n-1
    return product

In [14]:
factorial (100.)

9.332621544394418e+157

In [15]:
import math

In [16]:
math.factorial(9)

362880

In [17]:
math

In [18]:
from math import factorial as fak

In [19]:
fak

In [20]:
name = 'All'
alias = name
del name

In [21]:
alias

'All'

In [22]:
from math import factorial as fak

In [23]:
def binominal (n, k):
    '''Compute binominal '''
    product = 1
    for i in range (k):
        product *= (n-i)
        product //= (i+1)
    return product

In [24]:
binominal(3,2)

3

In [25]:
help(binominal)

Help on function binominal in module __main__:

binominal(n, k)
    Compute binominal

In [26]:
for x in range(2, 10, 2):
    print (x)

2
4
6
8

In [27]:
def pascal_triangle (order):
    for n in range(order+1):
        for k in range(n+1):
            print(binominal(n,k), end = ' ')
        print()

In [28]:
pascal_triangle(10)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1
1 9 36 84 126 126 84 36 9 1
1 10 45 120 210 252 210 120 45 10 1

In [29]:
str(binominal (50, 20))

'47129212243960'

In [30]:
######################################SEND##############################

In [31]:
'abc'.upper()

'ABC'

In [32]:
'The answer is {}, {}'.format(42, 24)

'The answer is 42, 24'

In [33]:
'|{:6}|'.format(42)

'|    42|'

In [34]:
'|{:>6}|'.format('abc')

'|   abc|'

In [35]:
'|{:^7}|'.format('abc')

'|  abc  |'

In [36]:
'|{:<6}|'.format('abc')

'|abc   |'

In [37]:
def print_triangle (order, fn):
    max_width = len(str(fn(order, order //2)))
    
    for n in range(order+1):
        for k in range(n+1):
            print('{:{}}'.format(fn(n,k), max_width), end = ' ')
        print()

In [38]:
print_triangle(15, binominal)

   1
   1    1
   1    2    1
   1    3    3    1
   1    4    6    4    1
   1    5   10   10    5    1
   1    6   15   20   15    6    1
   1    7   21   35   35   21    7    1
   1    8   28   56   70   56   28    8    1
   1    9   36   84  126  126   84   36    9    1
   1   10   45  120  210  252  210  120   45   10    1
   1   11   55  165  330  462  462  330  165   55   11    1
   1   12   66  220  495  792  924  792  495  220   66   12    1
   1   13   78  286  715 1287 1716 1716 1287  715  286   78   13    1
   1   14   91  364 1001 2002 3003 3432 3003 2002 1001  364   91   14    1
   1   15  105  455 1365 3003 5005 6435 6435 5005 3003 1365  455  105   15    1

In [39]:
def star(a,b):
    return '*'

In [40]:
print_triangle(10, star)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *

In [59]:
print_triangle(30, lambda x, v: 'o' if odd(binominal(x, v)) else ' ')

o
o o
o   o
o o o o
o       o
o o     o o
o   o   o   o
o o o o o o o o
o               o
o o             o o
o   o           o   o
o o o o         o o o o
o       o       o       o
o o     o o     o o     o o
o   o   o   o   o   o   o   o
o o o o o o o o o o o o o o o o
o                               o
o o                             o o
o   o                           o   o
o o o o                         o o o o
o       o                       o       o
o o     o o                     o o     o o
o   o   o   o                   o   o   o   o
o o o o o o o o                 o o o o o o o o
o               o               o               o
o o             o o             o o             o o
o   o           o   o           o   o           o   o
o o o o         o o o o         o o o o         o o o o
o       o       o       o       o       o       o       o
o o     o o     o o     o o     o o     o o     o o     o o
o   o   o   o   o   o   o   o   o   o   o   o   o   o   o   o

In [69]:
# tuple/krotka:
pair = 1 ,2

In [61]:
pair

(1, 2)

In [62]:
single = 1,

In [63]:
single

(1,)

In [64]:
tripple = 1, 'a', False 
# krotka to niemutowalna lista, mogąca zawierać elementy różnych typów

In [65]:
tripple

(1, 'a', False)

In [66]:
print (1,2,3) 
# to nie krotka tylko przekazanie argumentów do printa

1 2 3

In [67]:
print((1,2,3)) 
# tu już jest krotka

(1, 2, 3)

In [70]:
# tuple unpacking
one, two = pair

In [71]:
plus, minus, star = '+', '-', '*'

In [72]:
minus

'-'

In [73]:
plus, minus, star = '+-*' 
# na stringu też działa tylko ilość elementów musi się zgadzać

In [74]:
star

'*'

In [76]:
three, four, five = range (3, 6)

In [77]:
five

5

In [82]:
print(*range(10)) 
# * wypakowuje, przekazuje wartości jako kolejne parametry (tu do funkcji print)

0 1 2 3 4 5 6 7 8 9

In [84]:
# generator używany jest dopiero na życzenie i są jednorazowego użytku. Są 3 możliwości jego eksploatacji
def axes (): 
    yield 'x'
    yield 'y'
    yield 'z'

In [87]:
# 1:
print(*axes())

x y z

In [88]:
# 2:
for ax in axes():
    print(ax)

x
y
z

In [89]:
# 3:
next(axes())

'x'

In [95]:
# tworzenie nowego świerzego generatora:
seq = axes()

In [96]:
next(seq)

'x'

In [98]:
# ilustarcja wyczerpania generatora:
seq = axes()  
print('Fresh:', *seq)
print('Used:', *seq)

Fresh: x y z
Used:

In [100]:
# zmiana generatora w krotkę:
seq = tuple(axes())

In [101]:
seq

('x', 'y', 'z')

In [102]:
zip()   # splata ze sobą dowolną ilość sekwencji 
        # (z karzdych sekwencji będą wybierane pasujące do siebie elementy i powstaną krotki)
        # zip to też generator
        # działa do momentu skończenia się jednej z sekwencji

In [107]:
print(*zip((1,2,3),
           ('a','b','c'),
           range(11,20),
           axes()))

(1, 'a', 11, 'x') (2, 'b', 12, 'y') (3, 'c', 13, 'z')

In [109]:
quads =zip((1,2,3),
           ('a','b','c'),
           range(11,20),
           axes())

In [110]:
next(quads) 
# axes() czeka w zawieszeniu po wyemitowaniu x tak jak całe quads

(1, 'a', 11, 'x')

# KONIEC